<% 
  path = @survey.new_record? ? survey_index_path : survey_path 
%>

<div class="container" style="height:inherit;background-color:#fff;background-image: url('/assets/linedpaper.png');background-repeat:repeat;";>


<div style="padding-top:20px;padding-bottom:50px;margin-left:40px;">

    <%= simple_form_for(@survey , :as => :survey, :url => path ,  :role => "form" , :html=>{:class=>"form-signin", :style=>"max-width:100%;"} ) do |f| %>
        

          <%= f.input :title, :label =>false,  :input_html=> { :class=> "form-control" ,:style=>"width:60%;margin-top:5px;;"}, :required => true, :placeholder=>"* Title" %>        
        
          <%= f.input :description, :label =>false, :required => true, :as => :text , :placeholder=>"* description", input_html: { :class=> "form-control" ,:style=>"width:60%;margin-top:5px;;" } %>
          
        <%= f.simple_fields_for :questions do |c|  %>
          
           <%= c.input :text, :label =>false, :required => true, :placeholder=>"* Question #{c.index+1}", input_html: { :class=> "form-control" ,:style=>"width:60%;margin-top:5px;"} %>

           <%= c.input :type, :required => true, :as => :select, :label=>false, :collection =>@types, :prompt => "Please Select your Question type",:input_html=>{ :onchange => "showOptions(this,"+"#{c.index});", :class=> "form-control" , :style=>"margin-top:5px;width:300px;"} %>

           <div id="option_<%= c.index %>" style="display:none;margin-top:5px;">
              <%= c.simple_fields_for :option_attributes  do |o|  %>

                 <%= o.input :option_1, :required => true, :label =>false, :placeholder=>"* Option 1" , :input_html => {:class=> "form-control" , :style=>"width:300px;" } %>

                 <%= o.input :option_2, :required => true,:label =>false, :placeholder=>"* Option 2" , :input_html => {:class=> "form-control",:style=>"width:300px;" }%>

                 <%= o.input :option_3, :required => true,:label =>false,  :placeholder=>"* Option 3" , :input_html => {:class=> "form-control" ,:style=>"width:300px;"} %>

                 <%= o.input :option_4, :required => true, :label =>false, :placeholder=>"* Option 4" , :input_html => {:class=> "form-control",:style=>"width:300px;" }%>
            <% end %>
          </div>

        <% end %>
        
        
          <%= f.submit "Create Survey", :id=> "", :class=>"btn btn-sml btn-primary", :style=>"margin-top:10px; ", "data-loading-text"=>"Signing In..." %>
       
      
    <% end %>

</div>
</div>

<script type="text/javascript">

  function showOptions(obj,id){
    
    if(obj.value == "MultipleChoiceSingleQuestion" || obj.value == "MultipleChoiceMultipleQuestion")
      $("#option_"+id).show();
    else
      $("#option_"+id).hide();
  }


</script>