<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= link_to "All Surveys" , survey_index_path %></li>
  <li class="active"><%= @survey.title %></li>
</ol>



<div class="container paper">

<h1 style="color:#666"><%= @survey.title %></h1>


<%= link_to "Delete" , survey_path(:id => @survey.id) , :method => :delete , :class=>"pull-right", :confirm => "Are you sure?" ,:style=>"margin-left:25px;"%>

<%= link_to "Edit" , edit_survey_path(:id => @survey.id) ,:class=>"pull-right",:style=>"margin-left:25px;"%> 

<%= link_to 'Show all Responses', survey_feedbacks_path(@survey) , :class=> "pull-right "%>


<div style="margin-left:40px;">

<p><b><%= "{ #{@survey.description} }" %></b></p>

<h2>Questions</h2>

<% @survey.questions.each_with_index do |question,index| %>

	<h4><%= "#{index+1}, #{question.text}" %></h4>

	   <div style="margin-left:30px;font-style:italic;"><%= "Options:  #{question.option_list.join(",")}"  if question.options.any? %></div>

<% end %>

</div>
</div>