
<h3 align="center" style="color:#fff;">All Active Surveys</h3>


<div class="container">

<% if current_user && current_user.is_admin? %>
<%= link_to "create Survey" , new_survey_path , :class=>"btn btn-medium btn-success" ,:style=>"float:right;margin-top:-35px;margin-right:20px;" %>
<% end %>

<% if @surveys.any? %>
<% @surveys.each do |survey| %>

<div class="well" style="float:left;margin-left:10px;width:200px;background-image: url('/assets/survey_mini.jpg')">
 	<h4 align="center"><%= survey.title %></h4>
 	<div style="padding-top:50px;" align="center">

		<% if current_user && current_user.is_admin? %>
			<%= link_to "show" , survey_path(:id => survey.id) %> 
			<%= link_to "edit" , edit_survey_path(:id => survey.id) ,:style=>"margin-left:25px;"%> 
			<%= link_to "delete" , survey_path(:id => survey.id) , :method => :delete , :confirm => "Are you sure" ,:style=>"margin-left:25px;"%>
		<% else %>
			<%= link_to "Take Survey" , new_survey_feedback_path(survey) %> 
		<% end %>
	
	</div>
</div>


<% end %>
<% else %>
<div class="alert alert-warning">
	No survey has been created yet 
</div>
<% end %>

</div>