
<% 
  path = @feedback.new_record? ? survey_feedbacks_path : survey_feedback_path 
%>

<div class="container" style="background-color:#fff;color:#000" >

   <%= simple_form_for(@feedback , :as => :feedback, :url => path ,  :role => "form" ) do |f| %>
   
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Question </th>
          <th>Type</th>
          <th>Answer</th>
        </tr>
    </thead>

    <%= f.input :survey_id , :as => :hidden , :input_html => {:value => @survey.id } %>
    
    <tbody>

    
      <%= f.simple_fields_for :answers do |q| %>
        
            <%= q.input :question_id , :as => :hidden , :input_html => { :value => @survey.questions[q.index].id } %>

             <%= q.input :feedback_id , :as => :hidden , :input_html => { :value => @feedback.id } %>

            <tr>
                <td><%= @survey.questions[q.index].text %></td>
                <td><%= @survey.questions[q.index].type %></td>
                
                <% if @survey.questions[q.index].type == "DateQuestion" %>
                  <%= q.input :answer, :required => true,  :label=>false , :input_html => {:class=> "datepicker"} %>
                <% elsif @survey.questions[q.index].type == "EssayQuestion" %>
                  <%= q.input :answer, :required => true,  :label=>false , :as => :text %>
                <% elsif @survey.questions[q.index].type == "MultipleChoiceSingleQuestion" %>
                  <%= q.input :answer, :required => true,  :label=>false , :as=> :radio_buttons , :collection => ["asa","asass","asass"] %>
                <% else @survey.questions[q.index].type == "MultipleChoiceMultipleQuestion" %>
                  <%= q.input :answer, :required => true,  :label=>false , :as=> :check_boxes , :collection => ["one","two","thrid"] %>
                <% end %>
                
                </td>
            </tr>
      <% end %>
    </tbody>
  </table>

<div class="form-actions">
          <%= f.submit "Save", :id=> "", :class=>"btn btn-sml btn-primary", :style=>"margin-top:10px; ", "data-loading-text"=>"Signing In..." %>
       </div>
<% end %>
</div>

<script type="text/javascript">
$('.datepicker').datepicker()
</script>