<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to "All Feedbacks" , survey_feedbacks_path %></li>
  <li class="active"><%= @feedback.survey.title %></li>
</ol>


<div class="container paper">
<div style="margin-left:40px;">

		<h1 style="color:#000"><%= @feedback.survey.title %></h1>
		<p><b><%= "{ #{@feedback.survey.description} }" %> </b></p>

		<div style="font-style:italice;color:#0088cc;">
			<span>Taken By : </span>
			<b><%= @feedback.user.username %></b>
		</div>

		<div style="margin-top:20px;">
		<% @feedback.answers.each_with_index do |answer,index| %>
			
				<h4><%= "#{index+1}, #{answer.question.text}" %></h4>
				<% if answer.question.multiple_choice_multiple? %>
					<p style="margin-left:20px;font-style:italic;"><%= "Answer: #{answer.value.join(",")}" %></p>
				<% else %>
					<p style="margin-left:20px;font-style:italic;"><%= "Answer: #{answer.value}" %></p>
				<% end %>
			
		<% end %>
		</div>	
</div>
</div>