<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="container">

      <div class="navbar navbar-inverse navbar-static-top" role="banner">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/" style="font-size:25px;font-weight:bold;">Surveys</a>
           </div>
            <div class="navbar-collapse collapse">
             <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "sign out" , destroy_user_session_path , :method => :delete %></li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sign In" , user_session_path %></li> 
                <li><%= link_to "Sign Up" , new_user_registration_path %></li>
              </ul>
              <% end %>
            </div>
          </div>
      </div>


      <div id="body">
         
         <div class="container" style="margin:auto;"> 
            <%= render :partial => "layouts/display_messages" %>
            <%= yield %>
          </div>
          
      </div>

      <div id="footer">
        <div class="container" style="margin:auto;"> 
            
                <div style="margin-top:50px;color:#000">&copy; sreehari k marar </div>
            
        </div>
      </div>

</div>
 
       

</body>
</html>


