<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body background="/assets/tweed.png" style="height:100%;margin:0;padding:0;">

<div style="min-height:700px;position:relative;">
      <div class="navbar  navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/" style="font-size:25px;font-weight:bold;">Surveys</a>
            </div>
            <div class="navbar-collapse collapse">
             <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "sign out" , destroy_user_session_path , :method => :delete %></li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sign In" , user_session_path %></li> 
                <li><%= link_to "Sign Up" , new_user_registration_path %></li>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
    </div>


      <div class="container " style="padding-top:30px;padding-bottom:100px;">
          <div class="row-fluid">

            <%= render :partial => "layouts/display_messages" %>
            
              <%= yield %>
            
          </div>
      </div>

      <div  style="width:100%;background:#eee;height:100px;bottom:0;left:0;position:absolute;">


      </div>
</div>
 
       

</body>
</html>
